@import '../constants';

body {
  margin: 0;
}

#bracket-container {
  width: 100%;
  min-height: 50vh;
  margin-top: 3vh;
  z-index: 1;
  #bracket-header {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: 0;
  }

  .bracket-tile {
    width: 20%;
    background: lighten($secondary, 1%);
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    padding: 0.2%;

    h3, h4 {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
      width: 100%;
      text-align: center;
    }
  }

  .tile-ffa, .tile-single-elim {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .selected-match {
    border: 1px solid $primary;
  }
  .finished-match {
    border: 1px solid green;
  }
}


#match-config-container {
  width: 100%;
  min-height: 50vh;
  background: lighten($secondary, 3%);
  position: relative;
  z-index: 1;
  #match-config-header {
    width: 100%;
    height: fit-content;
    text-align: center;
    margin: 0;
    padding-top: 1em;
  }
  #combatants {
    margin-left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding-top: 0.25em;
  }
  #ip-address {
    width: 100%;
    text-align: center;
    padding-top: 0.5em;
  }
  .centered {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2em;
  }
  #process-test {
    margin-top: 1em;
  }
  #begin-match-container {
    position: relative;
    bottom: 1vh;
  }
  #question-container {
    position: relative;
    padding-bottom: 10vh;
    .question-tile {
      width: 80%;
      margin-left: 10%;
      display: flex;
      align-items: center;
      .question-text {
        width: 50%;
        float: left;
      }
      .answer-container {
        width: 50%;
        float: right;
        padding: 1em;
        label {
          width: 100%;
        }
        input {
          width: 100%;
        }
        input.answer-input {
          width: fit-content;
        }
      }
    }
  }
  #match-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10vh;
    padding-bottom: 10vh;
    position: relative;
  }
  #match-buttons::after {
    content:'';
    position:absolute;
    display: block;
    background-color: darken($secondary, 20%);
    width:60%;
    height: 3px;
    bottom:0;
    left:20%;
  }
  #match-buttons::before {
    content:'';
    position:absolute;
    display: block;
    background-color: darken($secondary, 20%);
    width:60%;
    height: 3px;
    top:0;
    left:20%;
  }
  #end-tournament {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
  }
}


@media (max-aspect-ratio: 1/1) {
  #bracket-container {
    .bracket-tile {
      width: 70%;
    }
  }
  #question-container {
    .question-text {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}


#match-score-container {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding-top: 10vh;
  padding-bottom: 10vh;
  .place-tile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  #center-button {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
  }
}