@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Barlow Condensed", sans;
  background: #020202;
  color: #fdfdfd;
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans;
  font-weight: 800;
  margin: 0;
  font-size: 2.25em;
}

h2 {
  font-family: "Montserrat", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2em;
}

h3 {
  font-family: "Montserrat", sans;
  font-weight: 600;
  margin: 0;
  font-size: 1.75em;
}

h4 {
  font-family: "Montserrat", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.5em;
}

h5 {
  font-family: "Montserrat", sans;
  font-weight: 400;
  margin: 0;
  font-size: 1.35em;
}

h6 {
  font-family: "Montserrat", sans;
  font-weight: 400;
  margin: 0;
  font-size: 1.2em;
}

p {
  font-family: "Barlow Condensed", sans;
  margin: 0;
}

a {
  position: relative;
  color: #fdfdfd;
  font-family: "Barlow Condensed", sans;
  text-decoration: none;
  margin: 0;
}

button {
  width: fit-content;
  text-align: center;
  padding: 1em;
  background: #020202;
  border: 1px solid #fdfdfd;
  color: #fdfdfd;
  transition: background 0.5s, color 0.5s;
}

button:hover, button:focus {
  background: #fdfdfd;
  color: #020202 !important;
}

::-moz-selection { /* Code for Firefox */
  background: #fdfdfd;
  color: #020202;
}

::selection {
  background: #fdfdfd;
  color: #020202;
}

label {
  color: #fdfdfd;
  font-family: "Barlow Condensed", sans;
  margin: 0;
}

input[type=text],
input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:hover,
input[type=text]:-webkit-autofill:focus,
input[type=text]:-webkit-autofill:active,
input[type=number],
input[type=number]:-webkit-autofill,
input[type=number]:-webkit-autofill:hover,
input[type=number]:-webkit-autofill:focus,
input[type=number]:-webkit-autofill:active {
  background-color: #1c1c1c !important;
  border: none !important;
  color: #fdfdfd !important;
  font-family: "Barlow Condensed", sans !important;
}

input[type=text]:focus, input[type=number]:focus {
  outline-color: #fdfdfd !important;
}

input[type=submit] {
  width: fit-content;
  text-align: center;
  padding: 1em;
  background: #020202;
  border: 1px solid #fdfdfd;
  color: #fdfdfd;
  transition: background 0.5s, color 0.5s;
}

input[type=submit]:hover, input[type=submit]:focus {
  background: #fdfdfd;
  color: #020202 !important;
}

body {
  margin: 0;
}

#bracket-container {
  width: 100%;
  min-height: 50vh;
  margin-top: 3vh;
  z-index: 1;
}
#bracket-container #bracket-header {
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: 0;
}
#bracket-container .bracket-tile {
  width: 20%;
  background: #050505;
  margin-top: 1.25%;
  margin-bottom: 1.25%;
  padding: 0.2%;
}
#bracket-container .bracket-tile h3, #bracket-container .bracket-tile h4 {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 100%;
  text-align: center;
}
#bracket-container .tile-ffa, #bracket-container .tile-single-elim {
  margin-left: 50%;
  transform: translateX(-50%);
}
#bracket-container .selected-match {
  border: 1px solid #fdfdfd;
}
#bracket-container .finished-match {
  border: 1px solid green;
}

#match-config-container {
  width: 100%;
  min-height: 50vh;
  background: #0a0a0a;
  position: relative;
  z-index: 1;
}
#match-config-container #match-config-header {
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: 0;
  padding-top: 1em;
}
#match-config-container #combatants {
  margin-left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  padding-top: 0.25em;
}
#match-config-container .centered {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2em;
}
#match-config-container #process-test {
  margin-top: 1em;
}
#match-config-container #begin-match-container {
  position: relative;
  bottom: 1vh;
}
#match-config-container #question-container {
  position: relative;
  padding-bottom: 10vh;
}
#match-config-container #question-container .question-tile {
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;
}
#match-config-container #question-container .question-tile .question-text {
  width: 50%;
  float: left;
}
#match-config-container #question-container .question-tile .answer-container {
  width: 50%;
  float: right;
  padding: 1em;
}
#match-config-container #question-container .question-tile .answer-container label {
  width: 100%;
}
#match-config-container #question-container .question-tile .answer-container input {
  width: 100%;
}
#match-config-container #question-container .question-tile .answer-container input.answer-input {
  width: fit-content;
}
#match-config-container #match-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
}
#match-config-container #match-buttons::after {
  content: "";
  position: absolute;
  display: block;
  background-color: black;
  width: 60%;
  height: 3px;
  bottom: 0;
  left: 20%;
}
#match-config-container #match-buttons::before {
  content: "";
  position: absolute;
  display: block;
  background-color: black;
  width: 60%;
  height: 3px;
  top: 0;
  left: 20%;
}
#match-config-container #end-tournament {
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  justify-content: center;
}

@media (max-aspect-ratio: 1/1) {
  #bracket-container .bracket-tile {
    width: 70%;
  }
  #question-container .question-text {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
#match-score-container {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
#match-score-container .place-tile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
#match-score-container #center-button {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
}

/*# sourceMappingURL=controlpanel.css.map */
