@import '../constants';

h1 {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#result-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .competitor-result-tile {
    width: 99%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .winner {
    border: 1px solid $primary;
    h2 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 2.25em;
    }
  }
}