@import "../constants";

#home-info-container {
  width: fit-content;
  margin: 15% auto auto;
}

#home-buttons-container {
  width: fit-content;
  margin: 5% auto auto;
  div {
    width: fit-content;
    margin: 12% auto auto;

    a {
      text-align: center;
    }
  }
}

