@import '../constants';

.disconnected {
  color: red;
}
.connected {
  color: green;
}

#verify-connections-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  #facilitator-connection-tile {
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
  }
  #client-connection-container {
    width: 60%;
    height: fit-content;
    .client-connection-tile {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row;
    }
  }
}
