@import '../constants';

#auth-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  margin-top: 30vh;
}

#waiting-container {
  height: 40vh;
  margin-top: 30vh;
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}