@import "../constants";



#section-container {
  position: relative;
}


#tournament-setup-title {
  width: 100%;
  height: 5vh;
  margin-top: 0.5%;
  margin-bottom: 1.5%;
}


#competitor-container {
  width: 45%;
  height: 80vh;
  background-color: lighten($background, 2%);


  #competitor-topbar {
    background-color: lighten($background, 4%);
    width: 100%;
    height: 8%;
    position: relative;

    #competitor-title {
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      width: 65%;
      max-height: 100%;
      margin:0;
      font-size: 20px;
    }

    #add-competitor-button {
      position:absolute;
      right: 2px;
      top: 0;
      height: 100%;
      width: fit-content;
      background: none;

      img {
        height: 100%;
        width: fit-content;
      }
    }

    #competitor-count {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15%;
      height: fit-content;
      margin: 0;
      font-size: 20px;
    }
  }


  #competitor-list-container {
    width: 100%;
    height: 82%;
    overflow-y: scroll;


    .competitor-tile {
      width: 100%;
      height: 5%;
      background-color: lighten($background, 3%);
      position: relative;

      label {
        margin-left: 5%;
      }

      input {
        margin-left: 5%;
      }
    }
  }


  #competitor-bottombar {
    height: 10%;
    width: 100%;
    background-color: lighten($background, 4%);
    position: relative;

    h3 {
      margin: 0;
    }
  }
}


#options-container {
  width: 45%;
  height: 80vh;
  background-color: lighten($background, 2%);
  position: absolute;
  right: 0;
  top: 0;


  div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

    input[type=number], input[type=checkbox] {
      width: 100%;
      margin-top: 2%;
    }

    label {
      width: 100%;
      margin: auto;
      text-align: center;
    }

    button {
      width: fit-content;
      margin-top: 5%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}