@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Barlow Condensed", sans;
  background: #020202;
  color: #fdfdfd;
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans;
  font-weight: 800;
  margin: 0;
  font-size: 2.25em;
}

h2 {
  font-family: "Montserrat", sans;
  font-weight: 700;
  margin: 0;
  font-size: 2em;
}

h3 {
  font-family: "Montserrat", sans;
  font-weight: 600;
  margin: 0;
  font-size: 1.75em;
}

h4 {
  font-family: "Montserrat", sans;
  font-weight: 500;
  margin: 0;
  font-size: 1.5em;
}

h5 {
  font-family: "Montserrat", sans;
  font-weight: 400;
  margin: 0;
  font-size: 1.35em;
}

h6 {
  font-family: "Montserrat", sans;
  font-weight: 400;
  margin: 0;
  font-size: 1.2em;
}

p {
  font-family: "Barlow Condensed", sans;
  margin: 0;
}

a {
  position: relative;
  color: #fdfdfd;
  font-family: "Barlow Condensed", sans;
  text-decoration: none;
  margin: 0;
}

button {
  width: fit-content;
  text-align: center;
  padding: 1em;
  background: #020202;
  border: 1px solid #fdfdfd;
  color: #fdfdfd;
  transition: background 0.5s, color 0.5s;
}

button:hover, button:focus {
  background: #fdfdfd;
  color: #020202 !important;
}

::-moz-selection { /* Code for Firefox */
  background: #fdfdfd;
  color: #020202;
}

::selection {
  background: #fdfdfd;
  color: #020202;
}

label {
  color: #fdfdfd;
  font-family: "Barlow Condensed", sans;
  margin: 0;
}

input[type=text],
input[type=text]:-webkit-autofill,
input[type=text]:-webkit-autofill:hover,
input[type=text]:-webkit-autofill:focus,
input[type=text]:-webkit-autofill:active,
input[type=number],
input[type=number]:-webkit-autofill,
input[type=number]:-webkit-autofill:hover,
input[type=number]:-webkit-autofill:focus,
input[type=number]:-webkit-autofill:active {
  background-color: #1c1c1c !important;
  border: none !important;
  color: #fdfdfd !important;
  font-family: "Barlow Condensed", sans !important;
}

input[type=text]:focus, input[type=number]:focus {
  outline-color: #fdfdfd !important;
}

input[type=submit] {
  width: fit-content;
  text-align: center;
  padding: 1em;
  background: #020202;
  border: 1px solid #fdfdfd;
  color: #fdfdfd;
  transition: background 0.5s, color 0.5s;
}

input[type=submit]:hover, input[type=submit]:focus {
  background: #fdfdfd;
  color: #020202 !important;
}

#section-container {
  position: relative;
  height: 93vh;
}

#tournament-setup-title {
  width: 100%;
  height: 5vh;
  padding-top: 0.5vh;
  padding-bottom: 1.5vh;
  text-align: center;
}

#competitor-container {
  width: 45%;
  height: 93%;
  background-color: #070707;
  float: left;
}
#competitor-container #competitor-topbar {
  background-color: #0c0c0c;
  width: 100%;
  height: 8%;
  position: relative;
}
#competitor-container #competitor-topbar #competitor-title {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 65%;
  max-height: 100%;
  margin: 0;
  font-size: 1.35em;
}
#competitor-container #competitor-topbar #add-competitor-button {
  position: absolute;
  right: 2px;
  top: 0;
  height: 100%;
  width: fit-content;
  background: none;
}
#competitor-container #competitor-topbar #add-competitor-button img {
  height: 100%;
  width: fit-content;
}
#competitor-container #competitor-topbar #competitor-count {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15%;
  height: fit-content;
  margin: 0;
  font-size: 20px;
}
#competitor-container #competitor-list-container {
  width: 100%;
  height: 82%;
  overflow-y: scroll;
}
#competitor-container #competitor-list-container .competitor-tile {
  width: 100%;
  height: 5%;
  background-color: #0a0a0a;
  position: relative;
}
#competitor-container #competitor-list-container .competitor-tile label {
  margin-left: 5%;
}
#competitor-container #competitor-list-container .competitor-tile input {
  margin-left: 5%;
}
#competitor-container #competitor-bottombar {
  height: 10%;
  width: 100%;
  background-color: #0c0c0c;
  position: relative;
}
#competitor-container #competitor-bottombar #center-form {
  display: flex;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-around;
}
#competitor-container #competitor-bottombar h3 {
  margin: 0;
  font-size: 20px;
  text-align: center;
}

#options-container {
  width: 45%;
  height: 93%;
  background-color: #070707;
  float: right;
}
#options-container h3 {
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
#options-container div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
#options-container div input[type=number], #options-container div input[type=checkbox] {
  width: 100%;
  margin-top: 2%;
}
#options-container div label {
  width: 100%;
  margin: auto;
  text-align: center;
}
#options-container div #tournament-settings-submit {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

@media (max-aspect-ratio: 1/1) {
  #competitor-container, #options-container {
    width: 100%;
    float: unset;
  }
  #options-container {
    margin-top: 5vh;
  }
}

/*# sourceMappingURL=tournamentsetup.css.map */
