@import '../constants';


body {
  position: relative;
  height: 100vh;
}


#ip-container {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}


#verifykey-container {
  position: absolute;
  top: 50%;
  width: 90%;
  left: 5%;
  transform: translateY(-50%);

  h1 {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
  }

  form {
    position: relative;
    width: 40%;
    margin: auto;

    #verif_name_input {
      width: 100%;
      margin-top:2%;
    }

    #verif_key_input {
      width: 100%;
      margin-top:2%;
    }

    .centered {
      margin-top:10%;
      display: flex;
      justify-content: center;
    }
  }
  @media (max-aspect-ratio: 1/1) {
    form {
      width: 80%;
    }
  }
}