<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/scss/pages/controlpanel.css">
    <link rel="icon" type="image/x-icon" href="/images/palaestra_logo.png">
    <script th:inline="javascript">let tournament = [[${tournamentData}]];let selected;let selectedData;</script>
    <script type="text/javascript" src="/js/controlpanel_script.js"></script>
</head>
<body>

<div id="bracket-container">
    <h1 id="bracket-header">Palaestra Control Panel</h1>
</div>

<div id="match-config-container">
    <h1 id="match-config-header">Match Config</h1>
    <p id="combatants">Select a match up</p>
    <p id="ip-address" th:text="${localip}">MISSING IP</p>
    <div class="centered">
        <label for="test" id="test-label">Test: </label>
        <input id="test" type="text"/>
    </div>
    <br>
    <div class="centered"><button id="process-test" onclick="updateServerTestData()">Process Test</button></div>
    <div id="question-container"></div>
    <div id="match-buttons">
        <div class="centered" id="begin-match-container"><a href="/matchfacilitator"><button>Begin Match</button></a></div>
        <div class="centered" id="show-match-score"><button onclick="showScore()">View Match Score</button></div>
    </div>
    <div id="end-tournament">
        <button onclick="endTournament()">End Tournament</button>
    </div>
</div>

<div id="match-score-container">
    <div id="match-placement-display">

    </div>
    <div id="center-button"><button onclick="hideScore()">Return</button></div>
</div>

</body>
</html>