<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finish Tournament</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/scss/pages/finishtournament.css">
    <link rel="icon" type="image/x-icon" href="/images/palaestra_logo.png">
    <script th:inline="javascript">let results = [[${results}]];</script>
    <script type="text/javascript" src="/js/finishtournament_script.js"></script>

</head>
<body>

<h1>Results</h1>

<div id="result-container">

</div>

</body>
</html>