<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match: Facilitator Mode</title>
    <link rel="stylesheet" href="/styles/scss/pages/matchfacilitator.css">
    <link rel="icon" type="image/x-icon" href="/images/palaestra_logo.png">
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script type="text/javascript" src="/js/matchfacilitator_script.js"></script>
</head>
<body>

<div id="verify-connections-container">
    <div id="facilitator-connection-tile">
        <h1>Facilitator (You):</h1>
        <h2 class="disconnected" id="facilitator-status">Disconnected</h2>
    </div>
</div>

</body>
</html>