<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match: Facilitator Mode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/scss/pages/matchfacilitator.css">
    <link rel="icon" type="image/x-icon" href="/images/palaestra_logo.png">
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script type="text/javascript" src="/js/matchfacilitator_script.js"></script>
</head>
<body>

<div id="verify-connections-container">
    <div id="facilitator-connection-tile">
        <h1>Facilitator (You):</h1>
        <h2 class="disconnected" id="facilitator-status">Disconnected</h2>
    </div>
    <div id="client-connection-container">

    </div>
    <button onclick="beginMatch()">Begin Match</button>
</div>

<div id="question-facilitation-container">
    <div id="question-info">
        <h1 id="question-num">Question #</h1>
        <p id="question-text"></p>
        <p id="question-answer">Answer:</p>
        <p id="question-alt-answers">Answer List:</p>
    </div>
    <div id="competitor-info">

    </div>
    <div style="clear: both"></div>
    <div id="button-container">
        <button id="next-question-button" onclick="nextQuestion()">Next Question</button>
        <button id="tiebreaker-button" onclick="tieBreaker()">Tiebreaker</button>
        <button onclick="endMatch()">End Match</button>
    </div>
</div>

<div id="match-score-container">
    <div id="match-placement-display">

    </div>
    <div id="center-button"><button onclick="returnToControlPanel()">Control Panel</button></div>
</div>

</body>
</html>