<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match: Contestant Mode</title>
    <link rel="stylesheet" href="/styles/scss/pages/matchclient.css">
    <link rel="icon" type="image/x-icon" href="/images/palaestra_logo.png">
    <script type="text/javascript" src="/js/matchclient_script.js"></script>
</head>
<body>

<div id="auth-container">
    <h1>Authenticate</h1>
    <label for="competitor-name-input">Competitor Name: </label>
    <input id="competitor-name-input" type="text">
    <label for="competitor-password-input">Password: </label>
    <input id="competitor-password-input" type="number">
    <button onclick="auth()">Sign In</button>
</div>

</body>
</html>