<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match: Contestant Mode</title>
    <link rel="stylesheet" href="/styles/scss/pages/matchclient.css">
    <link rel="icon" type="image/x-icon" href="/images/palaestra_logo.png">
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script type="text/javascript" src="/js/matchclient_script.js"></script>
</head>
<body>

<div id="auth-container">
    <h1>Authenticate</h1>
    <div>
        <label for="competitor-name-input">Competitor Name: </label>
        <input id="competitor-name-input" type="text">
    </div>
    <div>
        <label for="competitor-password-input">Password: </label>
        <input id="competitor-password-input" type="number">
    </div>
    <button onclick="auth()">Sign In</button>
</div>

<div id="waiting-container">
    <h1>Successfully Authenticated!</h1>
    <p>Waiting...</p>
</div>

<div id="question-container">
    <h1 id="question-num">Question #</h1>
    <div id="question-data-container">
        <p id="question-text"></p>
        <div id="question-answer-list">

        </div>
        <div style="clear: both"></div>
    </div>
    <button onclick="submitAnswer()">Submit</button>
    <button onclick="skipQuestion()">Skip</button>
</div>

</body>
</html>