<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monitor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/scss/pages/monitor.css">
    <link rel="icon" type="image/x-icon" href="/images/palaestra_logo.png">
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script type="text/javascript" src="/js/monitor_script.js"></script>
</head>
<body>

<div id="tournament-tile">

</div>

</body>
</html>