<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament Setup</title>
    <link rel="stylesheet" href="/styles/scss/pages/tournamentsetup.css">
    <link rel="icon" type="image/x-icon" href="/images/palaestra_logo.png">
    <script type="text/javascript" src="/js/tournament_setup_script.js"></script>
</head>
<body>
<h1 id="tournament-setup-title">Tournament Setup</h1>
<div id="section-container">
    <div id="competitor-container">
        <div id="competitor-topbar">
            <h3 id="competitor-title">Configure Competitors</h3>
            <button id="add-competitor-button" onclick="addCompetitorTile()">
                <img src="/images/plus_icon.png" alt="Add competitor button image">
            </button>
            <h2 id="competitor-count">Count: 0</h2>
        </div>
        <div id="competitor-list-container">

        </div>
    </div>
    <div id="options-container">
        <div>
            <label for="select-multiple-choice">Multiple choice enabled: </label>
            <input type="checkbox" id="select-multiple-choice">
            <label for="select-question-locking">Lock Questions after anyone has answered successfully: </label>
            <input type="checkbox" id="select-question-locking">
            <label for="select-points-per-correct">Points per correct answer: </label>
            <input type="number" id="select-points-per-correct">
            <label for="select-points-per-wrong">Points per wrong answer: </label>
            <input type="number" id="select-points-per-wrong">
            <label for="select-points-per-skipped">Points per skipped answer: </label>
            <input type="number" id="select-points-per-skipped">
            <label for="select-points-scale">Point scale after others successfully answer: </label>
            <input type="number" id="select-points-scale">

            <button id="tournament-settings-submit" onclick="submitTournamentData()">Submit</button>
        </div>
    </div>
</div>
</body>
</html>