<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tournament Setup</title>
    <link rel="stylesheet" href="/styles/scss/pages/tournamentsetup.css">
    <script src="/scripts/tournament_setup_script.js"></script>
</head>
<body>
<h1 id="tournament-setup-title">Tournament Setup</h1>
<div id="competitor-container">
    <div id="competitor-topbar">
        <h3 id="competitor-title">Configure Competitors</h3>
        <button id="add-competitor-button"><img src="/images/plus_icon.png" alt="Add competitor button image"></button>
        <h2 id="competitor-count">Count: 0</h2>
    </div>
    <div id="competitor-list-container">

    </div>
</div>
</body>
</html>