<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verify Facilitator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/scss/pages/verifyfacilitator.css">
    <link rel="icon" type="image/x-icon" href="/images/palaestra_logo.png">
</head>
<body>
<div id="ip-container">
    <p th:text="${localip}">MISSING IP</p>
</div>
<div id="verifykey-container">
    <h1>Verify Facilitator Key</h1>
    <form action="#" th:action="@{/verifyfacilitator}" th:object="${keyFormData}" method="post" autocomplete="off">
        <label for="verif_name_input">Name: </label>
        <input type="text" id="verif_name_input" th:field="*{name}">

        <label for="verif_key_input">Key: </label>
        <input type="text" id="verif_key_input" th:field="*{submittedKey}">

        <div class="centered"><input type="submit" value="Submit" id="verif_button_submit"></div>
    </form>
</div>
</body>
</html>