<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verify Facilitator</title>
    <link rel="stylesheet" href="/styles/scss/verifyfacilitator.css">
</head>
<body>
<div id="ip-container">
    <p th:text="${localip}">MISSING IP</p>
</div>
<div id="verifykey-container">
    <h1>Verify Facilitator Key</h1>
    <form action="#" th:action="@{/verifyfacilitator}" th:object="${keyFormData}" method="post">
        <label for="verif_name_input">Name: </label>
        <input type="text" id="verif_name_input" th:field="*{name}">

        <label for="verif_key_input">Key: </label>
        <input type="text" id="verif_key_input" th:field="*{submittedKey}">

        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>